.add-items-container {
    /* margin-top: 250px; */

}

.add-items-form {
    width: 50%;
    margin: 0 auto;
}

.add-items-form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.add-product-btn {
    background-color: #D0C9C0;
    border: none;
    padding: 10px;
}

.add-product-btn:hover,
.add-product-btn:focus {
    background: #6D8B74;
}