.my-product-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 15px;
}

.my-products-title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.my-product {
    border: 2px solid #EFEAD8;
    border-radius: 5px;
    padding: 15px;
    overflow-wrap: break-word;
}

.delete-button {
    background: #D0C9C0;
    color: #fff;
    border: none;
    width: 150px;
    padding: 10px 20px;
    border-radius: 5px;
}

.delete-button:hover,
.delete-button:focus {
    background: #6D8B74;
}

/*  mobile device only  */

@media only screen and (max-width: 575px) {
    .my-product-container {
        grid-template-columns: minmax(0, 1fr);
    }
}